@import 'tailwindcss';

@plugin 'daisyui' {
	themes:
		light --default,
		dark --prefersdark,
		bumblebee,
		emerald,
		synthwave,
		valentine,
		halloween,
		garden,
		forest,
		fantasy,
		dracula,
		cmyk,
		autumn,
		lemonade,
		night,
		winter,
		dim,
		sunset;
}

@plugin "@iconify/tailwind4";

@utility absolute-fab {
	@apply fab;
	position: absolute;
}

html,
body {
	min-height: 100vh;
}

.select.select-xs {
	padding-inline-start: calc(0.25rem * 2);
}